p{
  font-family: Arial;
  margin-top: 0px;
}
.num1{
  font-weight: bold;
  margin-bottom: 7px;
}
.num2{
  color: rgb(96, 96, 96);
  font-weight: normal;
}
.num3{
  margin-bottom: 15px;
}
.num5{
  color: blue;
}